:root {
  --fg-colour: #232323;
  --border-colour: #aaa;
  --visited-colour: #888;
  --bg-colour: #fff;
  --box-colour: #f5f5f5;
  --accent-colour: #ffa502;
  --d: .25rem;
  --w: 1vw;
  --h: 1vh;
  --radius: calc(var(--d));
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

:is(*):not(h1, h2, h3, h4, h5, h6) {
  font-size: 1.1rem;
}

html {
  box-sizing: border-box;
}

*, :before, :after {
  box-sizing: inherit;
}

abbr {
  text-underline-offset: calc(var(--d) * 1.8);
  text-decoration: underline 1px dotted;
}

cite {
  margin: calc(var(--d) * 4) 0;
  display: block;
}

pre {
  white-space: normal;
  background-color: var(--box-colour);
  word-wrap: break-word;
  padding: 1em;
  overflow-x: hidden;
}

cite *, code {
  font-size: calc(var(--d) * 4);
  line-height: 1.6;
}

footer {
  height: calc(var(--d) * 20);
  background-color: var(--bg-colour);
  flex-direction: column;
  justify-content: center;
  width: 75ch;
  line-height: 1.8;
  display: flex;
  position: fixed;
  bottom: 0;
}

button, input {
  margin: calc(var(--d) * 4) 0;
  padding: var(--d);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);
}

button {
  box-sizing: border-box;
}

button:hover {
  border-color: var(--fg-colour);
  outline: none;
}

button:active {
  box-shadow: 0 0 0 2px var(--fg-colour);
  outline: none;
}

select {
  padding: calc(var(--d) * 2) 0;
  border-radius: var(--radius);
}

option {
  font-size: calc(var(--d) * 4);
  line-height: 1.6;
}

body {
  -webkit-font-smoothing: antialiased;
  color: var(--fg-colour);
}

.body {
  padding: 0 calc(var(--d) * 2);
  background-color: var(--bg-colour);
  max-width: 75ch;
  margin: auto;
  font-family: PT Serif, Georgia, Times New Roman, Times, serif;
  position: relative;
}

.main {
  margin-bottom: calc(var(--d) * 24);
}

nav {
  width: calc((var(--w) * 100)  - (var(--d) * 4));
  padding: calc(var(--d) * 2) 0;
  border-top: 2px solid var(--border-colour);
  max-width: 75ch;
}

figure {
  text-align: center;
  margin: auto;
}

figcaption, caption {
  margin: calc(var(--d) * 2) 0;
}

img {
  border-radius: var(--radius);
  max-width: 100%;
  height: auto;
}

aside {
  margin: calc(var(--d) * 4) 0;
  padding: calc(var(--d) * 2) calc(var(--d) * 4);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);

  & * {
    font-size: calc(var(--d) * 4);
  }

  & h3 {
    margin-top: var(--d);
    margin-bottom: 0;
  }
}

blockquote {
  & * {
    font-size: calc(var(--d) * 4);
    line-height: 1.6;
  }

  & ul {
    margin-left: 0;
    padding: 0;

    & ul {
      padding: revert;
    }
  }
}

details, #schema > div div {
  margin-bottom: calc(var(--d) * 2);
  padding: calc(var(--d) * 2) calc(var(--d) * 2) 0;
  border: 1px dotted var(--border-colour);
  border-radius: var(--d);
}

details[open] {
  padding: calc(var(--d) * 2);
}

fieldset {
  margin: calc(var(--d) * 4) 0;
  padding: var(--d);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);
}

hr {
  border-top: 1px dashed var(--border-colour);
  margin: calc(var(--d) * 6) 0;
}

summary {
  margin: calc(var(--d) * -2) calc(var(--d) * -2) 0;
  padding: calc(var(--d) * 2);
  font-weight: bold;
}

p, li, aside {
  margin: calc(var(--d) * 4) 0;
  line-height: 1.7;
}

small p {
  line-height: .8;
}

a {
  color: var(--fg-colour);
  text-underline-offset: calc(var(--d) * 1.8);
  text-decoration: underline;
}

a.local {
  text-decoration: underline 1px dashed;
}

a:visited {
  color: var(--visited-colour);
}

a:hover {
  text-decoration-line: underline overline;
}

dl * {
  font-size: calc(var(--d) * 4);
  line-height: 1.6;
}

dt, dd, th, td {
  padding: var(--d);
  text-align: left;
}

dt {
  font-weight: bold;
}

.border {
  padding: calc(var(--d) * 2);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);

  &.dashed {
    border-style: dashed;
  }
}

.box {
  flex: 1 1 calc(20% - calc(var(--d) * 2));
  text-align: center;
  padding: var(--d);
  justify-content: center;
  align-items: center;
  display: flex;
}

.card {
  aspect-ratio: 1.618;
}

.square {
  aspect-ratio: 1;
}

.flex-row {
  justify-content: space-evenly;
  align-items: center;
  gap: var(--d);
  flex-wrap: wrap;
  display: flex;
}

.is-fg {
  color: var(--bg-colour);
  background-color: var(--fg-colour);
}

.is-bg {
  background-color: var(--bg-colour);
}

.is-border {
  background-color: var(--border-colour);
}

.centre {
  text-align: center;
}

:empty:not(button, iframe, input, img, hr) {
  display: none;
}

:is(button, input, aside, fieldset, figure, h2, h3, h4) + :is(button, input, aside, fieldset, figure, details, table), :is(button, input, aside, fieldset, figure, h2, h3, h4) + :is(label) + :is(input) {
  margin-top: 0;
}
/*# sourceMappingURL=index.a94e7003.css.map */
