:root {
  --fg-colour: #333;
  --border-colour: #aaa;
  --bg-colour: #f5f5f5;
  --bg-main-colour: #fff;
  --radius: calc(0.5 * var(--d));
  --d: 0.5rem;
  --w: 100vw / 100;
  --h: 100vh / 100;
}

/* rules */

* {
  box-sizing: border-box;
}

*:empty:not(input, img) {
  display: none;
}

:is(nav, p) {
  margin: calc(var(--d) * 2) 0;
}

:is(button, input, aside, fieldset, figure) {
  margin: calc(var(--d) * 2) 0;
  padding: var(--d);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);
}

:is(button, input, aside, fieldset, figure, h2, h3, h4)
  + :is(button, input, aside, fieldset, figure, details, label)
  + :is(input) {
  margin-top: 0;
}

:is(a, a:visited) {
  color: var(--fg-colour);
}

:is(button:hover) {
  border-color: var(--fg-colour);
  outline: none;
}

:is(a, abbr) {
  border-bottom: 1px solid var(--fg-colour);
  padding-bottom: calc(var(--d) * 0.25);
  text-decoration: none;
}

:is(main, dd, li, th, td) {
  padding: var(--d);
  text-align: left;
}

:is(figcaption, caption) {
  margin: var(--d) 0;
}

/* specific selectors */

.body {
  max-width: 60ch;
  margin: auto;
  padding: 0 var(--d);
  background-color: var(--bg-colour);
  color: var(--fg-colour);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
  min-height: calc(var(--h) * 100);
  background: var(--bg-main-colour);
}

/* html elements */

abbr {
  border-bottom-style: dashed;
}

aside {
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}
