:root {
  /* Main colors */
  --fg-colour: #333;
  --bg-colour: #f5f5f5;
  --d: 0.5rem;
}

body {
  background-color: var(--bg-colour);
  color: var(--fg-colour);
}

a {
  color: var(--fg-colour);
  text-decoration: none;
  padding-bottom: calc(var(--d) * 0.25);
  border-bottom: 1px solid var(--fg-colour);
}
