/* components */

.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: var(--d);
}

.border {
  padding: var(--d);
  border: 1px solid var(--border-colour);
  border-radius: var(--radius);
}

.box {
  flex: 1 1 calc(20% - calc(var(--d) * 2)); /* Adjusts the box width based on the container width */

  /* min-width: calc(var(--d) * 12);
  max-width: calc(var(--d) * 24); */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: var(--d);
}

.square {
  aspect-ratio: 1;
}

.card {
  aspect-ratio: 1.618;
}
